* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  width: 100%;
  display: flex;
  padding: 2%;
  gap: 30px;
    max-width: 1920px;
    margin: auto;
}

.logo_img {
  width: auto;
  height: 145px;
}

.Logo-Text {
  font-size: 36px;
  letter-spacing: 0px;
  color: #112949;
  margin: 20px 0px;
}

.Logo-Desc {
  font-size: 24px;
  letter-spacing: 0px;
  color: #112949;
  opacity: 1;
  margin-bottom: 20px;
}
.title_info{
  color: #3CC3F2;
}
.area_one {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item_card_container {
  background-color: #112949;
  color: white;
  width: 311px;
  height: 254px;
  padding: 30px;
  border-radius: 10px;
  flex: 1 1 calc(33.33% - 30px);
  box-sizing: border-box;
}

.item_card_top {
  display: flex;
}

.form_container {
  display: flex;
  gap:15px;
}

.form_container button {
  width: 213px;
  height: 58px;
  background: #EA7B2C 0% 0% no-repeat padding-box;
  border: 1px solid #EA7B2C;
  border-radius: 10px;
  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 22px;
}

.form_container input {
  border: 1px solid #ABABAB;
  border-radius: 10px;
  height: 58px;
  width: 514px;
  font-size: 22px;
}

.form_container_mobile{
  display: none;
}

.form_container_mobile button {
  width: 213px;
  height: 58px;
  background: #EA7B2C 0% 0% no-repeat padding-box;
  border: 1px solid #EA7B2C;
  border-radius: 10px;
  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 22px;
}

.form_container_mobile input {
  border: 1px solid #ABABAB;
  border-radius: 10px;
  height: 58px;
  width: 100%;
  font-size: 22px;
  margin-bottom: 15px;
}


@media only screen and (max-width: 1199.98px) {
  .App {
    flex-direction: column;
    justify-content: center;
    gap: 20px
  }

  .logo_img {
    height: 62px;
    width: auto;
  }

  .item_card_container {
    flex: 1 1 311px;
    max-width: 311px;

  }

  .area_one {
    justify-content: center;
  }

  .form_container {
    display: none;
  }

  .form_container_mobile {
    display: block;
    text-align: center;
  }

  .form_container input{
    width: 100%;
  }
  .Logo-Sec{
    text-align: center;
  }

}

.error {
  color: red;
  display: block;
  margin-top: 10px;
}

.success {
  color: green;
  display: block;
  margin-top: 10px;
}




@media only screen and (max-width: 1599.98px) {
  .App {
    flex-direction: column;
    justify-content: center;
    gap: 20px
  }

}